html {
  background-color: #f9f7fe;
}

body {
  margin: 8px;
  font-family: "Poppins", sans-serif;
}

a {
  color: #885df1;
}
.container {
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  width: 80%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #885df1;
  padding: 15px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}
.weather-data-container {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-details strong {
  color: #f65282;
}

.weather-temperature-container {
  display: flex;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
/* .weather-icon img {
} */
.weather-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: 600;
  margin-left: 10px;
}
.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

/* -------WEATHER FORECAST------- */
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  margin: 0 auto;
}

/* for future image:
img {
overflow-clip-margin: content-box
}
*/

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f65282;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
